*{
	margin:0;
	padding: 0;
}
@font-face{
	font-family:'proxima';
	src:url('../font/ProximaNovaSoft-Medium.otf');
}
@font-face{
	font-family: 'roboto-italic';
	src:url('../font/Roboto-Italic.ttf');
}
@font-face{
	font-family: 'proxima-r';
	src:url('../font/Proxima-Nova-Regular.otf') format('OpenType');
}
@font-face{
	font-family: 'proxima-sm';
	src:url('../font/Proxima-Nova-Semibold.otf')
}
.clear{
	clear: both;
}

/*team*/

.team{
	background-image: url(../img/bgd/bgd_our_team.jpg);
	width: 100%;
	margin: 0 ;
	padding: 0;
	background-size: cover;
	height: auto;
	overflow: auto;

}
.our{
	padding-top: 70px;
	width: 80%;
	margin: 0 auto;
}
.our h2{
	font-family: proxima;
	color: #5F647B;
}
.border-bot2{
	border:solid #FBAE0A 2px;
	width: 36px;
	background-size: cover;
	height: auto;
}
.team-photos{
	width: 75%;
	margin: 0 auto;
}
.member{
	text-align: center;
	font-family: proxima;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 33.33%;
	margin: 0 auto;
	float: left;
}
.avan{
	padding-bottom: 100px;
}
.img-team img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	text-align: center;
}
.img-team h2{
	padding:25px 0px 5px 0px;
	color: #565E75;
}
.img-team p{
	color: #97A0B6;
}


/* contact */
.contact{
	background-image: url('../img/bgd/bgd_contact.jpg');
	background-size: cover;
	height: auto;
	width: 100%;
}
.cont-msg h2{
	font-size: 25px;
	font-family: proxima-sm;
}
.quote{
	font-family: proxima-r;
	color: #5C5F66;
	padding-top: 50px;
	font-size: 20px;
}
.border-bot3{
	border:solid #15BCB1 2px;
	width: 55px;
}
.input {
	margin-top: 20px;
	border:solid 1px #ddd;
	border-radius: 5px;
	height: auto;
	padding: 10px 15px 10px 15px;
	width: 400px;
}
.input input{
	border:none;
	margin-left: 10px;
	width: 350px;
	font-size: 15px;
	font-family:proxima-r; 
	color: #ABB1C0;
	outline: none;
}
.input-1{
	height: 105px;
}
.input textarea{
	padding-left:33px;
	margin-top: -16px;
	margin-left:-5px;
	width: 420px;
	height: 115px;
	border:none;
	background:transparent;
	font-family: proxima-r;
	color: #AEAEA9;
	font-size: 15px;
	outline: none;
}
.btn-submit{
	margin-top: 20px;
	background-color: #16BCAE;
	padding: 8px 30px 8px 30px;
	border:none;
	border-radius: 5px;
	cursor: pointer;
}
.btn-submit a{
	color: #FFF;
	text-decoration: none;
	font-family: proxima-r;
	font-size: 17px;
}
.contact-right{
	float: right;
}
.contact-img img{
	width: 400px;
	margin-top: 150px;
}

/*Footer*/

footer{
	background-image: url('../img/bgd/bgd_footer.jpg');
	height: auto;
	background-size: cover;
	overflow: auto;
}
.footer-wrap{
	width: 80%;
	margin: 0 auto;
	padding-top: 150px;
}
.footer-top{
	padding-bottom: 20px;
}
.footer-top a{
	text-decoration: none;
	color: #FFF;
}
.footer-top h2{
	font-size: 30px;
	padding-bottom: 50px;
}
.jarak{
	padding-bottom: 80px;
}
.footer-top p {
	font-size: 18px;
	padding-bottom: 5px;
}
.footer-inner{
	padding-left: 30px;
}
.footer-top{
	width: 20%;
	float: left;
	margin: 0 auto;
	font-family: proxima-r;
	color: #A9B8C0;
}
.footer-top img{
	width: 140px;
	padding-bottom: 38px;
}
.footer-wrap .onee h2{
	color: #F0487C;
}
.footer-wrap .twoo h2{
	color: #FAAE0A;
}
.footer-wrap .threee h2{
	color: #1ACB94;
}
.footer-wrap .fourr h2{
	color: #00B9F5;
}
.bottom{
	background-color: #416779 !important;
	height: auto;
}
.bawah{
	width: 80%;
	margin: 0 auto;
	padding: 30px 0px 45px 0px;
	font-family: proxima;
	color: #A9B8C0;
}
.bawah a {
	text-decoration: none;
	color: #A9B8C0;
}
.bot-bot{
	width: 50%;
	margin: 0 auto;
	float: left;
}
.bot-bot img{
	width: 80px;
	float: right;
}
